html {
    background-color: #ffffff;
    /*Add height 100% for HTML & Body to allign vertically to center.*/
    /*height: 100%;*/
    display: table;
    margin: auto;
}
body {
    font-family: 'Zilla Slab', serif;
    display: table-cell;
    vertical-align: middle;
    min-width: 560px;
    max-width: 561px;
}
nav {
    text-align: center;
    margin: 50px 0px 0px 10px;
    border: 0px 0px 1px 0px;
    font-size: 16px;
}
.navBtn {
    padding: 0px 9px 0px 9px;
}
.active {

}